body {
    background-color:(#5D5D5D);
}
h1 {
    text-shadow: #946B2D;
    border-color: #000000;
    background-color: rgba(#946B2D);
    color: rgba(#0E1A40);
}
p {
    float: right;
    border-color: #000000;
    background-color: rgba(#946B2D);
    color: rgba(#222F5B);
}
.spell1 {
    border-color: #000000;
    background-color: rgba(#5D5D5D);
    color: rgba(#946B2D);
}

.Luna {
    width: 300px;
    height: 400px;
    border: 25px;
    border-color: #956B2D;
    border-style: groove;
}

.Ravenclaw{
    width: 300px;
    height: 400px;
    border: 25px;
    border-color: #222F5B;
    border-style: groove;
}