header {
    background-color: rgba(#946B2D);
    color: rgba(#0E1A40);
}
p {
    background-color: rgba(#946B2D);
    color: rgba(#222F5B);
}
p {
    background-color: rgba(#5D5D5D);
    color: rgba(#946B2D);
}

img {
    size: 50px;
}